<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de Empleados</span>
            <button type="button" class="btn btn-dark btn-lg" style="float: right;" routerLink="/crear-empleados">Agregar</button>
            <h5 *ngIf="empleados.length == 0" class="mt-4">No hay registros para mostrar</h5>
            <table *ngIf="empleados.length > 0" class="table table-striped mt-4">
                <thead>
                    <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Documento</th>
                    <th>Salario</th>
                    <th>
                    </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let empleado of empleados">
                        <td>{{ empleado.nombre }}</td>
                        <td>{{ empleado.apellido }}</td>
                        <td>{{ empleado.documento }}</td>
                        <td>{{ empleado.salario | currency }}</td>
                        <td class="d-flex justify-content-evenly">
                            <i class="bi bi-pencil-square mr-2 text-info" [routerLink]="['/editar-empleados',empleado.id]"></i>
                            <i class="bi bi-trash text-danger" (click)="eliminarEmpleado(empleado.id)"></i>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>